:root {
  --icon-home: url("./icons/home.svg");
  --icon-computer: url("./icons/computer.svg");
  --icon-sun: url("./icons/sun.svg");
  --icon-moon: url("./icons/moon.svg");
  --icon-trash: url("./icons/trash.svg");
  --icon-close: url("./icons/close.svg");
}
